<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="#">{{ title }}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="shop">Shop</a></li>
                <!--<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!--<li><a href="../navbar/">Default</a></li>
                <li><a href="../navbar-static-top/">Static top</a></li>-->
                <li class="active"><a href="api/auth/logout">Logout<span class="sr-only">(current)</span></a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    <div class="page-header">
        <h1>HomePage</h1>
    </div>

    <br/>
    <br/>
    <h3>Pending Orders:</h3>
    <br/>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Book Title</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Status</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Tha buk</td>
                <td>23</td>
                <td>25€</td>
                <td>Awaiting Expedition</td>
                <td>-</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Tha best buk in da wold</td>
                <td>23</td>
                <td>25€</td>
                <td>Will be dispatched</td>
                <td>25/06/2019</td>
            </tr>
            <tr>
        </tbody>
    </table>

    <br/>
    <br/>
    <h3>Completed Orders:</h3>
    <br/>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Book Title</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Tha oldest buk in da city</td>
                <td>23</td>
                <td>25€</td>
                <td>29/02/1998</td>
            </tr>
        </tbody>
    </table>
</div>