<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="#">{{ title }}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="home">Home</a></li>
                <li class="active"><a href="#">Shop</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="api/auth/logout">Logout<span class="sr-only">(current)</span></a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="orderModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Order Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p>Please confirm the book order:</p>

                    <table>
                        <tbody>
                            <tr>
                                <td class="modal-table-element"><b>Title: <b/></td>
                                <td id="order-modal-title"> Title</td>
                            </tr>
                            <tr>
                                <td class="modal-table-element"><b>Author: <b/></td>
                                <td id="order-modal-author"> Author</td>
                            </tr>
                            <tr>
                                <td class="modal-table-element"><b>Price: <b/></td>
                                <td id="order-modal-price"> 50€</td>
                            </tr>
                        </tbody>
                    </table>
                    <br/>
                    <br/>

                    <div class="input-group">
                        <span class="input-group-btn">
              <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
                  <span class="glyphicon glyphicon-minus"></span>
                        </button>
                        </span>
                        <input type="text" id="order-input-form-quantity" name="quant[1]" class="form-control input-number" value="1" min="1" max="40">
                        <span class="input-group-btn">
              <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
                  <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        </span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="modal-order-confirm" type="button" class="btn btn-success" data-dismiss="modal">Order!</button>
                </div>
                <form style="display: invisible;" id="order-form" method="post" action="api/shop/order">
                    <input type="text" name="username" id="order-form-username" value="{{ username }}"/>
                    <input type="text" name="book_id" id="order-form-book_id"/>
                    <input type="text" name="quantity" id="order-form-quantity"/>
                </form>
            </div>

        </div>
    </div>

    <div class="page-header">
        <h1>Shop</h1>
    </div>

    <br/>
    <br/>
    <h3>Available Books:</h3>
    <br/>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>ISBN</th>
                <th>Title</th>
                <th>Author</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="book-item-id">1</td>
                <td class="book-item-isbn">1-123456</td>
                <td class="book-item-title">Tha buk</td>
                <td class="book-item-author">Jony Traduca</td>
                <td><button type="button" class="book-item-buy btn btn-xs btn-success" data-toggle="modal" data-target="#orderModal">BUY</button></td>
            </tr>
            <tr>
                <td class="book-item-id">2</td>
                <td class="book-item-isbn">2-123456</td>
                <td class="book-item-title">Tha best buk</td>
                <td class="book-item-author">Andrew Lake</td>
                <td><button type="button" class="book-item-buy btn btn-xs btn-success" data-toggle="modal" data-target="#orderModal">BUY</button></td>
            </tr>
            <tr>
        </tbody>
    </table>
</div>

<script src="javascripts/shop.js"></script>